<!-- shir -->
<div class="divHead">
        <div style="color:#26368f;  margin-left: auto; margin-right: auto; text-align: center; font-size: 24px; font-weight: 500;">
      
          About Us
      
      </div>
          <br>
          <div style="width: 800px; margin-left:auto; margin-right:auto">

    In a project on behalf of our studies, students of industrial engineering and management at Azrieli College, have developed a website that will serve you as a forecasting tool.
    <br>
Using this tool any user who has a vision for the project will be able to enter the required project characteristics according to the template and get feedback.
<br>
The template will show him a measure of the success of the project and allow him to consider steps.
<br>
Every project matters and our goal is to create a path of self-confidence and help fulfill the vision of the initiators.
<br>
<br>
<div style="font-weight: 500; margin-bottom: 5px;">
    Work levels:

</div>
1. Introducing the required characteristics of the project: Main Category, Sub Category, Currency, Duration, Country and Goal
<br>
2. Waiting for feedback
<br>
3. Set out with self-belief!
</div>

<br>
<br>
</div>
<div>

    <div class="divus">
        <div style="text-align: center;">Our teams</div>

        <br>
        <img src="assets/shir.jpg" class= "storyimg">
        <br>
        <h1><b>Shir Klozner</b></h1>
        <h1>CEO</h1>
        <br>
    </div>
    <div class="divus">
        <br>
        <img src="assets/adi.jpg" class= "storyimg" style="width: 76%;">
        <br>
        <h1><b>Adi Morag</b></h1>
        <h1>Product Manager</h1>
        <br>
    </div>
    <div class="divus">
        <br>
        <img style="height: 140%; width: 140%" src="assets/shirel.jpg" class= "storyimg">
        <br>
        <h1><b>Shirel Sebban</b></h1>
        <h1>Project Manager</h1>
    </div>
    <div class="divus">
        <br>
        <img style="height: 80%; width: 80%" src="assets/asaf.jpg" class= "storyimg">
        <br>
        <h1><b>Asaf Oppenheimer</b></h1>
        <h1>Software Development Manager</h1>
    </div>
</div>