<!-- asaf -->
<mat-card style="max-width: 1200px; min-width: 800px; margin-left: auto; margin-right: auto; padding-left: 50px; padding-right: 50px;">


    <div style="float: right; width: 25%;">
        <button class="modelBut" (click)="navivigateToTest()" mat-fab style="background-color:#0eca46" >Test your <br> project</button>
    </div>

<div class="divhead">
    <div style="font-weight: 700; font-size: 40px;">
        <div style="color:#1b1b1b">
            Have a venture project that will <br><br> be the next big thing?
        </div>
        <div style="color:#f57f11; margin-top: 20px;">
            <br>

            Test your success NOW!

        </div>

     

    
    </div>
    <br> 
    <br> 
    <div style="width: 400px; font-size: 16px;">
        We offer a predictive service for venture projects to let you know how successful your kickstart will be.
        <br> 
        The service predicts the success based on it's criteria.
    
    </div>


</div>
<br> 
<br> 

<img src="assets/homePic.jpg" class= "imgH">
<div class="divAbout">
    <h3>About kickstarter</h3> 
    Kickstarter is an international company that offers mass recruitment services.
    <br>
    Many people find that they are able to achieve their goals for their kickstart business by using this website. They have found the secrets to becoming successful.
    <br>
    Kickstarter is specifically for creative projects in the following categories: Art, Comics, Crafts, Dance, Design, Fashion, Film & Video, Food, Games, Journalism, Music, Photography, Publishing, Technology, and Theater. Make an album, write a book, create an immersive theater experience, score a film — you name it.
    <br>
    <br>
    If you want to read more: <a href="https://www.kickstarter.com/" target="_blank">Kickstarter website</a>
  
</div>
<br>
<br>
<br>

<mat-divider [inset]="true"></mat-divider>

<div class="title">
    Successful Stories
</div>

<div style=" height: 700px;">
    <div class="divStory">
        <br>
        <img src="assets/coolest.jpg" class= "storyimg" style="width: 250px; height:315px ;">
        <br>
        <div style="font-size: 20px; font-weight:600; padding-top:10px;">Coolest cooler</div>
        <br>
        The Coolest Cooler campaign was launched in July 2017. This innovative icebox for the 21st century has an optional built-in blender add-on, built-in Bluetooth speaker, and space to tuck away plates and picnic goodies. The Coolest Cooler goes down as the second most funded Kickstarter campaign of all time at $13.3 million from 62,642 backers! They used good videography, clear images, creative product descriptions, and exciting backer rewards
        <br>
    </div>
    <div class="divStory">
        <br>
        <img src="assets/tainted grail.jpeg" class= "storyimg" style="width: 250px; height: 315px;">
        <br>
        <div style="font-size: 20px; font-weight:600; padding-top:10px;">Tainted Grail: The Fall of Avalon</div>
        <br>

        Awaken Realms, who have launched nine successful games on Kickstarter, launched the Tainted Grail campaign in December 2018 and finished with $6.2 million. In late summer 2019, they launched Etherfields, and managed a whopping $4.8 million, creating a total of over $11 million from just two projects!
Talk about some of the best Kickstarter products and Awaken Realms will always find a way into the conversation. The success of their campaigns has hinged on engaging visual stories, exciting product descriptions, and good rewards. They seem to have figured out the recipe for success for top Kickstarter projects.
        <br>
    </div>
    <div class="divStory" style="display: block ;">
        <br>
        <img src="assets/the continent.jpg" class= "storyimg" style="width: 250px; height: 315px;">
        <br>
        <div style="font-size: 20px; font-weight:600; padding-top:10px;">The 7th Continent</div>
         <br>
        Launched in September 2017, this cooperative game of adventure, exploration, and survival took Kickstarter by storm, with 43,733 buckers pledging $7.1 million to help bring this project to life. The reasons for its success? Great backer rewards, exciting product descriptions, and strong visuals that highlighted different aspects of the game, all of which came together to create another top Kickstarter project.
        <br>
    </div>
</div>
<br>

<mat-divider [inset]="true"></mat-divider>

<div class="title">
    Video
</div>

<div style="text-align: center; width: 100%;" >
    <iframe style="margin-top: 2%;" width="600" height="345" src="https://www.youtube.com/embed/1KTvNF68LSw" allowfullscreen>
</iframe>
</div>
</mat-card>
<br>
<br>
<br>
